services:
  - type: web
    name: simulador-financiamento
    env: docker
    plan: free
    autoDeploy: true
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: PORT
        value: 8080
